body {
    display: flex;
    flex-direction: column;
}

.main-container {
    margin-top: -10px;
}

.row {
    height: 53px;
    width: 1900px;
    display:flex;
   
}

.cell {
    height: 50px;
    width: 50px;
    
}